:root.Fresh_Air_Original {
    --Syn_Light_Bold_Italic_Orig: #444444;
    --Syn_Light_Text_Colour_Orig: #000000;
    --Syn_Light_Background_Colour: #FFFFFF;
    --Syn_Light_Bold_Italic: #5C4D78;
    --Syn_Light_Black: #000000;
    --Syn_Light_Blue: #268BD2;
    --Syn_Light_Green: #238C00;
    --Syn_Light_Grey: #93A1A1;
    --Syn_Light_Magenta: #CF019A;
    --Syn_Light_Mauve: #6C71C4;
    --Syn_Light_Orange: #CB4B16;
    --Syn_Light_Pink: #F94F92;
    --Syn_Light_Popup_Colour: #DDD8D8;
    --Syn_Light_Purple: #4E289A;
    --Syn_Light_Red: #DC322F;
    --Syn_Light_Slate_Grey: #586E75;
    --Syn_Light_Strong_Purple: #4E279A;
    --Syn_Light_Text_Colour: #251249;
    --Syn_Light_White: #feffff;
    --Syn_Light_Yellow: #eca440;
}
