:root.Fresh_Air {
   --Syn_Light_Bold_Italic_Orig: #444444;
    --Syn_Light_Popup_Colour_Orig: #EEEEEE;
    --Syn_Light_Text_Colour_Orig: #212121;
    --Syn_Light_Background_Colour: #FFFFFF;
    --Syn_Light_Black: #000000;
    --Syn_Light_Bold_Italic: #5C4D78;
    --Syn_Light_Blue: #009cd9;
    --Syn_Light_Green: #00990f;
    --Syn_Light_Grey: #a2b0b0;
    --Syn_Light_Magenta: #e02da8;
    --Syn_Light_Mauve: #7c86ce;
    --Syn_Light_Orange: #dc6122;
    --Syn_Light_Pink: #ff6ca1 ;
    --Syn_Light_Popup_Colour: #DDD8D8;
    --Syn_Light_Purple: #603da8;
    --Syn_Light_Red: #eb4b3f;
    --Syn_Light_Slate_Grey: #688088;
    --Syn_Light_Strong_Purple: #4e279a;
    --Syn_Light_Text_Colour: #251249;
    --Syn_Light_White: #feffff;
    --Syn_Light_Yellow: #eca440;
}
