:root.Japanese_Garden_Light {
    --Syn_Light_Background_Colour: #FDFFFF;
    --Syn_Light_Black: #052736;
    --Syn_Light_Blue: #0D6BB4;
    --Syn_Light_Bold_Italic: #0C3E27;
    --Syn_Light_Green: #186B54;
    --Syn_Light_Grey: #9DAEB8;
    --Syn_Light_Magenta: #C42254;
    --Syn_Light_Mauve: #CC8CA4;
    --Syn_Light_Orange: #F75630;
    --Syn_Light_Pink: #D07777;
    --Syn_Light_Popup_Colour: #F9FAFC;
    --Syn_Light_Purple: #8476C8;
    --Syn_Light_Red: #D3263B;
    --Syn_Light_Slate_Grey: #0A4654;
    --Syn_Light_Strong_Purple: #4042BC;
    --Syn_Light_Text_Colour: #06343C;
    --Syn_Light_White: #FDFDFD;
    --Syn_Light_Yellow: #D89A2B;
}
