:root {
    --Syn_Light_Background_Colour: #FFFFFF;
    --Syn_Light_Blue: #0057ae;
    --Syn_Light_Bold_Italic: #aa5500;
    --Syn_Light_Green: #006e28;
    --Syn_Light_Grey: #898887;
    --Syn_Light_Magenta: #924c9d;
    --Syn_Light_Magenta: #ca60ca;
    --Syn_Light_Mauve: #e0e9f8;
    --Syn_Light_Orange: #ff5500;
    --Syn_Light_Pink: #f7e6e6;
    --Syn_Light_Popup_Colour: #3daee9;
    --Syn_Light_Purple: #644a9b;
    --Syn_Light_Red: #bf0303;
    --Syn_Light_Slate_Grey: #607880;
    --Syn_Light_Strong_Purple: #0095ff;
    --Syn_Light_Text_Colour: #1f1c1b;
    --Syn_Light_Yellow: #b08000;
}
