:root.School_Entry_Light {
    --Syn_Light_Background_Colour: #FBFBFE;
    --Syn_Light_Black: #323850;
    --Syn_Light_Bold_Italic: #323850;
    --Syn_Light_Blue: #4763A7;
    --Syn_Light_Green: #3A6A42;
    --Syn_Light_Grey: #6E7A86;
    --Syn_Light_Magenta: #A5475A;
    --Syn_Light_Mauve: #A08B73;
    --Syn_Light_Orange: #D06656;
    --Syn_Light_Pink: #EA80C1;
    --Syn_Light_Popup_Colour: #F4F7FC;
    --Syn_Light_Purple: #7E64DC;
    --Syn_Light_Red: #BE2D37;
    --Syn_Light_Slate_Grey: #438EA8;
    --Syn_Light_Strong_Purple: 603870;
    --Syn_Light_Text_Colour: #2C3047;
    --Syn_Light_White: #FBFBFE;
    --Syn_Light_Yellow: #EDCB68;
}
