:root.Tokyo_Sunset_Light {
    --Syn_Light_Background_Colour: #F8F8FA;
    --Syn_Light_Black: #000000;
    --Syn_Light_Bold_Italic: #452A3E;
    --Syn_Light_Blue: #4055AA;
    --Syn_Light_Green: #8E865B;
    --Syn_Light_Grey: #8A6F76;
    --Syn_Light_Magenta: #AE6684;
    --Syn_Light_Mauve: #F08570;
    --Syn_Light_Orange: #AA4B44;
    --Syn_Light_Pink: #ED97B2;
    --Syn_Light_Popup_Colour: #FAF2F2;
    --Syn_Light_Purple: #82547A;
    --Syn_Light_Red: #E23B2A;
    --Syn_Light_Slate_Grey: #3F3B50;
    --Syn_Light_Strong_Purple: #6C486A;
    --Syn_Light_Text_Colour: #4E384F;
    --Syn_Light_White: #F7F4EE;
    --Syn_Light_Yellow: #DFA34A;
}
