:root.Crisp_Night {
    --Syn_Dark_Bold_Italic_Orig: #AFAFAF;
    --Syn_Dark_Popup_Colour_Orig: #222222;
    --Syn_Dark_Purple_Orig: #8C55FD;
    --Syn_Dark_Slate_Grey_Orig: #688088;
    --Syn_Dark_Text_Colour_Orig: #EFEFEF;
    --Syn_Dark_Background_Colour: #1A2124;
    --Syn_Dark_Black: #000000;
    --Syn_Dark_Blue: #44ACD5;
    --Syn_Dark_Bold_Italic: #D8D3D6;
    --Syn_Dark_Green: #4B9C53;
    --Syn_Dark_Grey: #A2B0B0;
    --Syn_Dark_Magenta: #D765B4;
    --Syn_Dark_Mauve: #7C86CE;
    --Syn_Dark_Orange: #F28750;
    --Syn_Dark_Pink: #ff6ca1;
    --Syn_Dark_Popup_Colour: #36474C;
    --Syn_Dark_Purple: #B88FF8;
    --Syn_Dark_Red: #F1786F;
    --Syn_Dark_Slate_Grey: #71A3B4;
    --Syn_Dark_Strong_Purple: #C9AEFF;
    --Syn_Dark_Text_Colour: #F5F1F4;
    --Syn_Dark_White: #feffff;
    --Syn_Dark_Yellow: #eca440;
}
