:root.Riverside_Night {
    --Syn_Dark_Background_Colour: #1D273B;
    --Syn_Dark_Black: #000000;
    --Syn_Dark_Bold_Italic: #E4E1D9;
    --Syn_Dark_Blue: #6587CE;
    --Syn_Dark_Green: #29C5A9;
    --Syn_Dark_Grey: #A79579;
    --Syn_Dark_Magenta: #E478C1;
    --Syn_Dark_Mauve: #BB9298;
    --Syn_Dark_Orange: #FCA850;
    --Syn_Dark_Pink: #F5959F;
    --Syn_Dark_Popup_Colour: #32456A;
    --Syn_Dark_Purple: #5C689E;
    --Syn_Dark_Red: #EE3A42;
    --Syn_Dark_Slate_Grey: #AF8E7E;
    --Syn_Dark_Strong_Purple: #8B9CE9;
    --Syn_Dark_Text_Colour: #FBF7EE;
    --Syn_Dark_White: #F5F2F1;
    --Syn_Dark_Yellow: #E2BE6F;
}
