:root.School_Entry_Dark {
    --Syn_Dark_Background_Colour: #101933;
    --Syn_Dark_Black: #262734;
    --Syn_Dark_Bold_Italic: #FAFCF9;
    --Syn_Dark_Blue: #95C4F2;
    --Syn_Dark_Green: #90C88D;
    --Syn_Dark_Grey: #CAD8D8;
    --Syn_Dark_Magenta: #AA6466;
    --Syn_Dark_Mauve: #D6C8DE;
    --Syn_Dark_Orange: #E78351;
    --Syn_Dark_Pink: #EA80C1;
    --Syn_Dark_Popup_Colour: #2F3948;
    --Syn_Dark_Purple: #BD80E0;
    --Syn_Dark_Red: #D06656;
    --Syn_Dark_Slate_Grey: #58CCBF;
    --Syn_Dark_Strong_Purple: #B77BB4;
    --Syn_Dark_Text_Colour: #FBFBFE;
    --Syn_Dark_White: #FBFBFE;
    --Syn_Dark_Yellow: #EDCB68;
}
