:root.Sky_City {
    --Syn_Dark_Background_Colour: #181E39;
    --Syn_Dark_Black: #000000;
    --Syn_Dark_Bold_Italic: #CFC1C3;
    --Syn_Dark_Blue: #6D88FB;
    --Syn_Dark_Green: #C5E2A5;
    --Syn_Dark_Grey: #E7D3BE;
    --Syn_Dark_Magenta: #B85368;
    --Syn_Dark_Mauve: #9895B6;
    --Syn_Dark_Orange: #ED9450;
    --Syn_Dark_Pink: #CB98A8;
    --Syn_Dark_Popup_Colour: #2B376B;
    --Syn_Dark_Purple: #BEB1F9;
    --Syn_Dark_Red: #E08A99;
    --Syn_Dark_Slate_Grey: #59D0FD;
    --Syn_Dark_Strong_Purple: #B48FCB;
    --Syn_Dark_Text_Colour: #F4E3E6;
    --Syn_Dark_White: #F5FFFF;
    --Syn_Dark_Yellow: #ED9450;
}
