:root.Tokyo_Sunset_Dark {
    --Syn_Dark_Background_Colour: #1C1512;
    --Syn_Dark_Black: #000000;
    --Syn_Dark_Bold_Italic: #E3D7DC;
    --Syn_Dark_Blue: #6781D5;
    --Syn_Dark_Green: #908767;
    --Syn_Dark_Grey: #B0A9B3;
    --Syn_Dark_Magenta: #AE6684;
    --Syn_Dark_Mauve: #ECAC86;
    --Syn_Dark_Orange: #DF7143;
    --Syn_Dark_Pink: #E7B5EA;
    --Syn_Dark_Popup_Colour: #5A4B42;
    --Syn_Dark_Purple: #B36988;
    --Syn_Dark_Red: #E9482F;
    --Syn_Dark_Slate_Grey: #839891;
    --Syn_Dark_Strong_Purple: #B99BE1;
    --Syn_Dark_Text_Colour: #FEF0F6;
    --Syn_Dark_White: #F7F4EE;
    --Syn_Dark_Yellow: #F6D958;
}
