:root.Ultima_Bar {
    --Syn_Dark_Background_Colour: #16132C;
    --Syn_Dark_Black: #000000;
    --Syn_Dark_Bold_Italic: #BFBABE;
    --Syn_Dark_Blue: #A0A5FF;
    --Syn_Dark_Green: #9BBD4D;
    --Syn_Dark_Grey: #B681A6;
    --Syn_Dark_Magenta: #A35186;
    --Syn_Dark_Mauve: #A0A5FF;
    --Syn_Dark_Orange: #F4B56A;
    --Syn_Dark_Pink: #C69E7F;
    --Syn_Dark_Popup_Colour: #292354;
    --Syn_Dark_Purple: #A96DF1;
    --Syn_Dark_Red: #E24F58;
    --Syn_Dark_Slate_Grey: #9178AA;
    --Syn_Dark_Strong_Purple: #958AF4;
    --Syn_Dark_Text_Colour: #E6DFE4;
    --Syn_Dark_White: #F5FFFF;
    --Syn_Dark_Yellow: #F4B56A;
}
