:root.Wild_Night_Club {
    --Syn_Dark_Background_Colour: #1A1609;
    --Syn_Dark_Black: #000000;
    --Syn_Dark_Bold_Italic: #C2BABB;
    --Syn_Dark_Blue: #5A8FC8;
    --Syn_Dark_Green: #86CA82;
    --Syn_Dark_Grey: #876AA4;
    --Syn_Dark_Magenta: #F25FF4;
    --Syn_Dark_Mauve: #9575B8;
    --Syn_Dark_Orange: #E73A58;
    --Syn_Dark_Pink: #EC7599;
    --Syn_Dark_Popup_Colour: #393013;
    --Syn_Dark_Purple: #A35993;
    --Syn_Dark_Red: #F74049;
    --Syn_Dark_Slate_Grey: #60719F;
    --Syn_Dark_Strong_Purple: #E56470;
    --Syn_Dark_Text_Colour: #ECE3E4;
    --Syn_Dark_White: #F5FFFF;
    --Syn_Dark_Yellow: #F1D560;
}
