</div>
<div id="toc">
    <h2>Table of Contents</h2>
    <ul></ul>
</div>
<div id="toc_controls">
    <button disabled id="sidebar_btn" title="Toggle Sidebars"></button>
    <button id="top_btn" title="Go Back to Top of Page"></button>
    <button disabled id="note_list_btn" title="View Note List"></button>
    <button disabled id="toc_btn" title="Toggle Table of Contents"></button>
</div>
<div id="content_pane"></div>
<div class="loading">
    <p>Loading <span class="tag_1">•</span><span class="tag_2">•</span><span class="tag_3">•</span><span class="tag_4">•</span></p>
</div>
<div id="lightbox">
    <button id="close_lightbox_btn" title="Close Lightbox"></button>
    <img src="">
</div>
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>
