</ul>
<input type="text" id="searchbar" placeholder="Just Type 👩🏻‍🚀" class="searchbar">
<ul id="tag_container">
    <h3>Tags</h3>
    <button disabled id="clear_tag_selection" title="Clear tag selection"></button>
